.wishlist-nav{
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 0.5px solid var(--off-white);
    box-shadow: 2px 0.5px 0px 0px rgb(0 0 0 / 25%);
}

.wishlist-nav p{
    margin: 0;
    padding: 0;
}

.wishlist-page{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.5rem;
}

.card {
    background-color: var(--text-color);
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 50%;
    justify-content: space-between;
}
.card-img{
    position: relative;
}

.card-img img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.heart-bg {
    background-color: var(--off-white);
    border-radius: 50%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.15rem;
}

.heart-fill-icon{
    width: 1.5rem;
    height: auto;
    vertical-align: middle;
    color: var(--light-color);
}

.heart-fill-icon path{
    color: var(--red-color);
    fill: var(--red-color);
}

.card_content {
    padding: 0.5rem 1rem;
    color: var(--primary-color);
}

.card-heading {
    margin: 0 !important;
}

 .card-primary-text {
    font-size: 1rem;
    font-weight: 100;
    margin: 0 !important;
}

 .card-secondary-text {
    font-size: 0.8rem;
    font-weight: 100;
    color: var(--light-color);
    margin: 0.5rem 0;
    margin: 0 !important;
}

.card-btn {
    color: var(--primary-color);
    margin-top: 0.5rem;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    background: transparent;
}

.card-btn:hover{
    color: var(--text-color);
    background-color: var(--primary-color);
}