@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body{
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Poppins', sans-serif;
}

:root{
  --primary-color: #212121;
  --text-color: #F5F5F5;
  --light-color: #999999;
  --off-white: #F5F5F5;
}